body {
	background: url("../images/mountains.jpg") no-repeat;
	background-size: cover;
}

.frame {
	background-color: rgba(255, 255, 255, .7);
}

.br {
	clear: both;
}

.header  {
	overflow: hidden;
	padding: 0 3em;
}


ul.contact {
	text-align: end;
	margin-top: -1em;	
}

.contact li {
  display: inline-block;
  
  font-size: 1.5em;
  text-align: rigth;
}


.mugshot {
	height: 6em;
	vertical-align: bottom;
	float: left;
	margin-top: 2em;
	margin-right: 2em;
}

h1 {
	font-size: 4em;
	text-align: right;
}

.well {
	border-radius: 20px;
	border: 1px solid black;
}

.preview {

	
}

.preview img {
	width: 100%;
	margin: 1em auto;
	display: block;
	padding: 5px;
	border: 1px solid black;
}

.preview h3 {
	font-size: 2em;
	margin: 1em 0 .25em 0;
	color: rgb(25, 28, 12);
}

.preview p {
	
}

.preview-well {
	margin: 1em 1em;
	padding: 0 1em;
 	border: 1px solid rgb(25, 28, 12);
	border-radius: 10px;
	min-height: 34em;
}
