body {
	background: url("../images/mountains.jpg") no-repeat;
	background-size: cover;
	font-family: 'Poiret One', cursive;
	letter-spacing: .1em;
	font-size: medium;
}

.frame {
	background-color: rgba(255, 255, 255, .7);
	color: #1f3b4f;
}

.br {
	clear: both;
}

.header  {
	overflow: hidden;
	padding: 0 3em;
}


ul.contact {
	text-align: end;
	margin-top: -1em;	
}

.contact a {
	color: #1f3b4f;
}

.contact li {
  display: inline-block;  
  font-size: 1.5em;
  text-align: rigth;
  padding-left: 1em;
}


.mugshot {
	height: 6em;
	vertical-align: bottom;
	float: left;
	margin-top: 2em;
	margin-right: 2em;
}

h1 {
	font-size: 4em;
	text-align: right;
	letter-spacing: 0;
}

h1, h2, h3, h4 {
	font-family: 'Play', sans-serif;
	color: ##1f3b4f;
}


.well {
	border-radius: 20px;
	border: 1px solid #00fa00;
}

.preview img {
	width: 100%;
	margin: 1em auto;
	display: block;
	padding: 5px;
	border: 1px solid #3e3d40;
}

.preview h3 {
	font-size: 2em;
	margin: 1em 0 .25em 0;
}

.preview p {
	
}

.preview-well {
	margin: 1em 1em;
	padding: 0 1em;
 	border: 1px solid #3e3d40;
	border-radius: 10px;
	min-height: 34em;
}

.preview-well:hover {
	transition: 0.5s;
	background-color: #5b717f;
	color: white;
}

footer {
	text-align: right;
}

footer ul {
	margin-left: 0;
}
footer .contact {
	display: inline-block;
}

h4 {
	display: inline-block;
	text-align: right;
}

